<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>signup</title>
</head>
<body>
    <h2>signup</h2>
    {{.message}}
    {{.result}}
    <p>user登録</p>
    <form action="/signupuser" method="POST">
        <div>
            <input type="text" name="username" placeholder="username">
        </div>
        <div>
            <input type="text" name="password" placeholder="password">
        </div>
        <div>
            <input type="text" name="checkpassword" placeholder="checkpassword">
        </div>
        <p><input type="submit"></p>
    </form>
    <p><a href="/login">login</a></p>
    <p><a href="/">戻る</a></p>
</body>
</html>
