<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
        <title>チケットとコイン</title>
    </head>
	<body>
		<p>チケット数:{{.Tickets}} コイン数:{{.Coins}}</p>
        <form action="/menu/game/tadd" method="POST">
			<input type="submit" value="tadd">
		</form>
        <!-- <form action="/menu/game/cadd" method="POST">
			<input type="submit" value="cadd">
		</form> -->
        <p><a href="/menu/game/gachagame">ガチャ</a></p>
        <p><a href="/menu/game/minigame">minigame</a></p>
		<p><a href="/menu/top">topに戻る</a></p>
	</body>
</html>
