<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>top</title>
</head>
<body>
    <h2>top</h2>
    {{.result}}
    <p>{{.user}}さんこんにちは</p>
    {{if .message}}
        {{.message}}
        <p><a href="/login">login</a></p>
    {{else}}
        <p><a href="/menu/memo">メモ登録</a></p>
        <p><a href="/menu/game/gachagame">ガチャ</a></p>
        <p><a href="/menu/game/tandc">チケットとコイン</a></p>
        <p><a href="/menu/game/minigame">minigame</a></p>
        <p><a href="/logout">logout</a></p>
        <p><a href="/menu/settings/deleteuser">userの削除</a></p>
        <p><a href="/menu/settings/renameuser">usernameの更新</a></p>
    {{end}}
</body>
</html>
